/* General Body etc. */

html {
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
     font-family: sans-serif;
     background-color: #eee8d5;
     color: #657b83;
     margin: 1em;
}

body {
     background-color: #fdf6e3;
     margin: 0 auto;
     max-width: 23cm;
     border: 1pt solid #93a1a1;
     padding: 1em;
}

/* Header & Footer */

table {
     border-collapse: collapse;
     border-spacing: 0;
}

table.head, table.foot {
     width: 100%;
}

table.foot {
	margin-top: 2em;
}

td.head-rtitle, td.foot-os {
     text-align: right;
}

td.head-vol {
     text-align: center;
}

/* Headings */

h1 {
     color: #d33682;
     font-size: 2em;
	 font-weight: 700;
}

h2, h3, h4, h5, h6 {
     color: #859900;
	 font-weight: 700;
}

h2 {
     font-size: 1.5em;
}

h3 {
     font-size: 1.25em;
}

h4 {
     font-size: 1.15em;
}

h5 {
     font-size: 1.1em;
}

h6 {
     font-size: 1.05em;
}

/* Links */

a {
     color: #b58900;
	 text-decoration: none;
}

a:visited {
     color: #b58900;
}

a:hover {
     color: #cb4b16;
}

/* Code sections */

pre, code {
     font-family: monospace;
}

code {
     padding: 2px;
     font-weight: 700;
     font-family: inherit;
}

pre {
     white-space: pre-wrap;
     word-wrap: break-word;
     color: #657b83;
     border: 1pt solid #93a1a1;
     padding: 1em;
}

/* Various mandoc elements */

span.Lb {
	font-style: italic;
}

div.Nd, div.Bf, div.Op {
     display: inline;
}

dl.Bl-diag > dt, span.Ms {
     font-weight: 700;
}

