on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: make
  macos-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - run: make
